.button{
    width:95px;
    height:95px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    background: #2e2f36;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px/* 16px */;
    margin-bottom: 10px/* 16px */;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.button:hover {
    color: #315cfd;
  }
